<nav class="navbar navbar-default disableSelection">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav">

        {{hq-navigation}}

        <li>{{#link-to 'index' activeClass="active"}}{{fa-icon "home"}} Principal{{/link-to}}</li>
        <li>{{#link-to 'search' activeClass="active"}}{{fa-icon "search"}} Buscar{{/link-to}}</li>
        <li>{{#link-to 'categories' activeClass="active"}}{{fa-icon "book"}} Categorías{{/link-to}}</li>
      </ul>
    </div>
  </div>
</nav>

<div class="main-content">
  {{liquid-outlet}}
</div>
