<h1>Categorías</h1>

<!--
<div>
  <button class="btn btn-success" {{action "previousPage"}}>{{fa-icon "chevron-left"}}</button>
  <button class="btn btn-success" {{action "nextPage"}}>{{fa-icon "chevron-right"}}</button>
</div>

<div>
  {{page}} de {{pages}}
</div>
-->

<ul>
  {{#each model.categories as |category index|}}
    <li>{{#link-to "category" category}}{{category}}{{/link-to}}</li>
  {{/each}}
</ul>
